.galeri {
    position: relative;
    height: 100vh;
    width: 100%;
}  

.background-image {
  position: absolute;
  top: -100px;
  right: -75px;
  height: 109%;
  width: auto;
  
}
  
  .galeri1 {
    position: absolute;
    width: 328px;
    height: 354px;
    left: 0%;
    top: -100px;
  }
  
  .galeri2 {
    position: absolute;
    width: 328px;
    height: 354px;
    left: 0%;
    top: 40%;
  }

  .galeri3 {
    position: absolute;
    width: 303px;
    height: 204px;
    left: 31%;
    top: -100px;
  }

  .galeri4 {
    position: absolute;
    width: 303px;
    height: 290px;
    left: 31%;
    top: 115px;
  }

    .galeri5 {
    position: absolute;
    width: 303px;
    height: 204px;
    left: 31%;
    top: 415px;
  }

  .galeri6 {
    position: absolute;
    width: 328px;
    height: 354px;
    left: 60%;
    top: -100px;
  }
  
  .galeri7 {
    position: absolute;
    width: 328px;
    height: 354px;
    left: 60%;
    top: 40%;
  }
